importFrom(stringi, stri_trim_left)
importFrom(stringr, str_locate)
importFrom(stringr, str_trim)
importFrom(grDevices, colorRampPalette)
importFrom(png, readPNG)
importFrom(ggplot2, aes)
importFrom(ggplot2, annotation_raster)
importFrom(ggplot2, coord_cartesian)
importFrom(ggplot2, element_blank)
importFrom(ggplot2, geom_tile)
importFrom(ggplot2, ggplot)
importFrom(ggplot2, margin)
importFrom(ggplot2, scale_fill_manual)
importFrom(ggplot2, theme)
importFrom(grid, unit)
importFrom(methods, new)
export(loadSGF)
export(playerCard)
export(boardHeatMap)
export(getColorPalette)
export(SGFGame)
